body {
    color: white;
    background-color: darkblue;
}

.resultado {
    font-size: 10px;
    color: yellow;
    background-color: darkred;

}

p {
    text-align: left;
}

.titulo-centrado {
    text-align: center;
}